:root {
  --shiki-color-text: theme('colors.light');
  --shiki-token-constant: theme('colors.light');
  --shiki-token-string: theme('colors.light');
  --shiki-token-comment: theme('colors.dark');
  --shiki-token-keyword: theme('colors.light');
  --shiki-token-parameter: theme('colors.light');
  --shiki-token-function: theme('colors.light');
  --shiki-token-string-expression: theme('colors.light');
  --shiki-token-punctuation: theme('colors.light');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: rgba(36, 150, 129, 0.3);
  color: rgb(19, 20, 26);
}

.bcmsBody {
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgba(252, 252, 252, var(--tw-bg-opacity));
  background-repeat: no-repeat;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.375;
}

.dark .bcmsBody {
  --tw-bg-opacity: 1;
  background-color: rgba(19, 20, 26, var(--tw-bg-opacity));
}

.bcmsBody {
  -webkit-overflow-scrolling: touch;
  background-image: url(/gradient-small.png);
  background-position: 0 0;
  background-size: 450px;
}

.dark *::selection {
  background-color: rgb(255, 205, 25);
  color: rgb(19, 20, 26);
}

@media screen and (min-width: 375px) {
  .bcmsBody {
    background-size: calc(327.14286px + 32.7619vw);
  }
}

@media screen and (min-width: 900px) {
  .bcmsBody {
    background-size: 622px;
  }
}
