:root {
  --shiki-color-text: theme('colors.light');
  --shiki-token-constant: #6ee7b7;
  --shiki-token-string: #6ee7b7;
  --shiki-token-comment: theme('colors.grey');
  --shiki-token-keyword: #7dd3fc;
  --shiki-token-parameter: #f9a8d4;
  --shiki-token-function: #c4b5fd;
  --shiki-token-string-expression: #6ee7b7;
  --shiki-token-punctuation: theme('colors.grey');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  @apply bg-green/10 text-green;
}

.bcmsBody {
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgba(252, 252, 252, var(--tw-bg-opacity));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.375;
}

.dark .bcmsBody {
  --tw-bg-opacity: 1;
  background-color: rgba(19, 20, 26, var(--tw-bg-opacity));
}

code {
  white-space: nowrap;
}

pre code {
  white-space: break-spaces;
}

.bcmsBody {
  -webkit-overflow-scrolling: touch;
  background-image: url(/gradient-small.png);
  background-position: 0 0;
  background-size: 450px;
}

.dark *::selection {
  @apply text-yellow bg-yellow/5;
}

@media screen and (min-width: 375px) {
  .bcmsBody {
    background-size: calc(327.14286px + 32.7619vw);
  }
}

@media screen and (min-width: 900px) {
  .bcmsBody {
    background-size: 622px;
  }
}
