:root {
  --shiki-color-text: theme('colors.white');
  --shiki-token-constant: theme('colors.emerald.300');
  --shiki-token-string: theme('colors.emerald.300');
  --shiki-token-comment: theme('colors.zinc.500');
  --shiki-token-keyword: theme('colors.sky.300');
  --shiki-token-parameter: theme('colors.pink.300');
  --shiki-token-function: theme('colors.violet.300');
  --shiki-token-string-expression: theme('colors.emerald.300');
  --shiki-token-punctuation: theme('colors.zinc.200');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.bcmsBody {
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgba(252, 252, 252, var(--tw-bg-opacity));
  background-repeat: no-repeat;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.375
}

.dark .bcmsBody {
  --tw-bg-opacity: 1;
  background-color: rgba(19, 20, 26, var(--tw-bg-opacity))
}

.bcmsBody {
  -webkit-overflow-scrolling: touch;
  background-image: url(/gradient-small.png);
  background-position: 0 0;
  background-size: 450px
}

@media screen and (min-width: 375px) {
  .bcmsBody {
      background-size: calc(327.14286px + 32.7619vw)
  }
}

@media screen and (min-width: 900px) {
  .bcmsBody {
      background-size:622px
  }
}
